table {
    width: 100%;
    border-spacing: 0.1px;
    background-color: #fff;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 0px 0px 8px 8px;
    border: #d7d7d7aa 1px solid;
}

td {
    padding: 12px 14px;
    text-align: start;
    border-top: solid 1.5px #d7d7d7aa;
    padding-left: 35px;
    color: #5d5d5d;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    border: #d7d7d7aa 1px solid;
    border-radius: 8px 8px 0px 0px;
    outline: none;
    padding-left: 20px;
    border-bottom: none;
}

td:first-child {
    font-weight: 500;
    color: #343434 !important;
}

th {
    text-align: start;
    padding-bottom: 10px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 35px;
    position: relative;
    color: #5d5d5d;
    font-weight: 600;
}

.fi-rr-angle-small-down {
    color: #747474;
    position: absolute;
    bottom: 3px;
}
.centered {
    text-align: center;
}


.btn {
    display: inline-block;
    margin: 3px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ff0000; 
    border-radius: 4px;
    color: #000;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: transparent;
}

.btn-sm {
    font-size: 14px;
}